body{
    background-color: rgb(0,0,0);
    margin: 0px;
    color: gold;
}

.flexcontainer {
    display: flex;
}

.settings{
    background-color: rgb(0,0,0);	
    position: fixed;
    right:0;
    bottom: 0;
    z-index : 10;
    display: none;
}

#settingsbutton{
    position: fixed;
    right:0;
    bottom:0;
    z-index:11;	
    background-color: rgb(255,255,255);	
    color: red;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tracker{
    background-color: rgba(0,0,0,0);
    position: relative;
    left: 0px;
    top: 0px;
    empty-cells: show;
    border-spacing: 0px;
    border: 0px;
}

.tracker td{
    width: 84px;
    height: 64px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 64px 64px;
}

.tracker .halfcell {
    width: 32px;
    height: 64px;	
}

.unavailable{
    background-color: rgb(255,0,0);
}

.unavailable.wayofhero {
    background-color: rgb(248,24,148);
}

.available{
    background-color: rgb(0,255,0);
}

.available.wayofhero {
    background-color: rgb(0,255,255);
}

.possible{
    background-color: rgb(255,255,0);
}

.possible.wayofhero {
    background-color: rgb(168, 142, 200);
}

.opened{
    background-color: rgb(200,200,200);
}
.opened.wayofhero {
    background-color: blue;
}

.itemconfig {
    border-spacing: 0px;
    border: 1px solid white;	
}

* {
    box-sizing: border-box;
}

.stoops{
    width: 128;
    height: 128;
    background-size: 200% 200%;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px
}

label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 240px;
}

.lonk{
    width: 64px;
    height: 64px;
    border-spacing: 0px;
    border: 0px;
}

.corner{
    width: 32px;
    height: 32px;
}

.true{
    opacity: 1;
}

.false{
    opacity: 0.45;
}

.mini{
    width: 16;
    height: 16;
    vertical-align: text-bottom;
}

.boss{
    width: 12;
    height: 12;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;

    position: absolute;
    margin-left: -6px;
    margin-top: -6px;

    z-index: 2;
}

.dungeon{
    width: 24;
    height: 24;
    background-size: 100% 100%;

    position: absolute;
    margin-left: -12px;
    margin-top: -12px;
    cursor: pointer;
}

.itemdiv{
    position: relative;
    left: 0px;
}

.mapdiv{
    background-image: url("images/map.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: relative;
    width: 828px;
    height: 420px;
    left: 0px;
}


.submapdiv{
    background-color: black;
    text-align: center;
    position: absolute;
    width: 230px;
    height: 260px;
    margin-top: 160px;
    font-size: 24;
}

.DCunavailable{
    color: rgb(255,0,0);
}

.DCavailable{
    color: rgb(0,255,0);
}

.DCpossible{
    color: rgb(255,255,0);
}

.DCopened{
    color: rgb(200,200,200);
}

.DCgossip{
    color: rgn (0,255,255);
}

.DChighlight{
    color: rgb(0,0,0);
}

.mapspan .tooltipgray {
    visibility: hidden;
    width: 160px;
    font-size: 20;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.mapspan .tooltipgray:hover {
    display: none;
}

.mapspan:hover .tooltipgray {
    visibility: visible;
}

.minimapspan .tooltipgray {
    visibility: hidden;
    width: 160px;
    font-size: 20;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.minimapspan .tooltipgray:hover {
    display: none;
}

.minimapspan:hover .tooltipgray {
    visibility: visible;
}

#submaparea {
    font-size: 24;
    cursor: pointer;
}

,submaparea {
    font-size: 24;
}

.minimapdiv{
    background-image: url("images/Kokiri Forest.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: relative;
    width: 700px;
    height: 420;
    left: 830px;
    top: -420px;
}

#chest, #NPC, #freestanding, #ksword, #skulltula, #scrub, #ocarina, #egg, #song, #cow, #bean, #simple, #grotto, #dungeon, #entrance, #alldoor, #boss{
    background-repeat: no-repeat;
    font-size: 24;

    position: absolute;
    cursor: pointer;
}

.minimapdiv .DCopened {
    background-color: gray;
}

.minimapdiv .DCunavailable {
    background-repeat: no-repeat;
    background-color: rgb(255,0,0);   
}

.minimapdiv .DCavailable {
    background-repeat: no-repeat;
    background-color: rgb(0,255,0);   
}
